a {
    text-decoration: none;
}

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
    background-color: #303441;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-text p {
    margin-bottom: 14px;
    font-size: 14px;
    color: #7e7e7e;
    line-height: 28px;
}

.footer-widget-heading h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.footer-widget-heading h5::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 50px;
    background: #5a5af3;
}
.footer-widget ul li {
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 12px;
}
.footer-widget ul li a:hover {
    color: #5a5af3;
}
.footer-widget ul li a {
    color: #878787;
    text-transform: capitalize;
}

.copyright-area {
    background: #020c18;
    padding: 25px 0;
}
.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #878787;
}
.copyright-text p a {
    color: #5a5af3;
}
